
		
		#header{
			font-family: "Courier New";
			font-style: italic;
		}
		.inside{
			border: 2px solid;
			width: 90px;
			height: 40px;
			text-align: center;
			display: inline;
			padding:3px;
			
			
		}
		#full{
			text-align:center;
		}
		#bio{
			width: 800px;
			font-size: 18px;
			float: left;
		}
		img{
			max-height: 100%;
			max-width: 100%;
			float: right;
			width: 400px;
			height: 500px;
		}
		.head{
			
		}